dataSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="ItemsSchema" xmlns="ItemsSchema" elementFormDefault="qualified">

	<xs:element name="itemsList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="item" maxOccurs="100">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="product"/>
							<xs:element name="size"/>
							<xs:element name="price"/>
							<xs:element name="amount"/>
                            <xs:element name="idproduct"/>
                            <xs:element name="idsupplier"/>
							<xs:element name="discount"/>
                            
						</xs:sequence>
						<xs:attribute name="id"></xs:attribute>
						<xs:attribute name="src"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>